.body {
  flex: 0.85;
  background: linear-gradient(rgb(91, 87, 115), rgba(0, 0, 0, 1));
  height: 100vh;
  overflow-y: overlay;
  color: white;
  padding: 20px 25px;
}

.bodyInfo {
  display: flex;
  align-items: flex-end;
  padding: 10px;
}

.bodyInfo > img {
  min-height: 200px;
  height: 15vw;
  margin: 0 20px;
  box-shadow: 0 4px 60px rgba(0, 0, 0, 0.5);
}

.bodyInfoText > h2 {
  padding: 0.08em 0px;
  font-size: 72px;
  line-height: 72px;
  margin-bottom: 10px;
}

.bodyInfoText > span {
  font-size: 12px;
}
